<div class="mt-4">
    <div class="row">
        <div class="col-lg-3 d-flex flex-column align-items-center mt-5">
            <button class="btn btn-primary mb-3">ĐẶT TOUR NGAY</button>
            <p class="text-center mb-1">Địa chỉ: {{tours.address}}</p>
            <p class="text-center">Giá: {{tours.price}}</p>
        </div>
        <div class="col-lg-9">
            <h2 class="text-center">{{tours.name}}</h2>
            <div class="d-flex flex-column align-items-center">
                <img src="{{tours.image}}" alt="Tour Image" class="img-fluid mb-3" style="max-width: 560px; height: auto;">
                <p class="mt-3 text-center" style="max-width: 560px;">{{tours.description}}</p>
            </div>
        </div>
    </div>
</div>
